*~
/bookmarks
/ac-comphist.dat
desktop-recover-tmp
elpa
/url/cookies
/tramp
/.emacs.desktop
/.emacs.desktop.lock
/eshell/history
/eshell/lastdir
var
/projectile-bookmarks.eld
/SessionDesktop.el
/setup.el
/init.elc
/o-blog/
/src/sublimity/
