*~
/bookmarks
/ac-comphist.dat
desktop-recover-tmp
elpa
/url/cookies
/tramp
/.emacs.desktop
/.emacs.desktop.lock
/eshell/history
/eshell/lastdir
var
/projectile-bookmarks.eld
/SessionDesktop.el
/setup.el
/init.elc
/o-blog/
/src/sublimity/
/url/
/.sx/
org-clock-save.el
/workbench.xmi
org-clock-save.el
/request/curl-cookie-jar
/.cask/
/semanticdb/
/.mc-lists.el
/magithub/
image-dired
/transient/history.el
